body {
  height: 100vh;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: rgb(194, 159, 223);
}
.container__name {
  display: flex;
  width: 50%;
  justify-content: center;
  flex-wrap: wrap;
}
.name {
  width: 50%;
  height: 50%;
  align-items: center;
}
.container__result {
  display: flex;
  height: 100%;
  width: 50%;
  flex-wrap: wrap;
  align-items: center;
}
.container__calc {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(194, 159, 223);
}
.calc__numbers {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 2.5em;
}
.calc {
  border: 2px solid green;
  width: 40%;
  justify-content: center;
  height: 20%;
  text-align: center;
  font-size: 3em;
  color: navy;
  border-radius: 10px;
}
.calc:hover {
  background-color: crimson;
}
